# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Codeularity_Laptop_B\Documents\Studium\00_Online_Studium\02_WiSe2020\Pattern und Frameworks\github\Patterns_and_Frameworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
